DISCORD_TOKEN=YOUR_BOT_TOKEN
CLIENT_ID=YOUR_APPLICATION_ID
GUILD_ID=YOUR_SERVER_ID

GOOGLE_SCRIPT_URL=YOUR_GOOGLE_APPS_SCRIPT_URL

EMS_ROLE_ID=YOUR_EMS_ROLE_ID
EMS_LEADER_ROLE_ID=YOUR_EMS_LEADER_ROLE_ID

LOG_CHANNEL_ID=YOUR_LOG_CHANNEL_ID
